@import "../style.css";
.management {
    padding: 140px 0;
}

.project {
}
.project-info {

}
.project-info-h1 {
    font-size: 72px;
font-family: Inter;
font-weight: 700;
letter-spacing: -1.44px;
}
.project-info-p {
}
.home__info--btn {
}
.light--btn {
}
.bi {
}
.bi-arrow-right-short {
}
.management-img {
}