@import "../style.css";
.management {

}
.container {
}
.part1 {
    display: flex;

}
.part1-describe {
    width: 672px;
height: 411px;
gap: 60px;

}
.describe-h1 {
}
.describe-p1 {
}
.light--btn {
}
.bi {
}
.bi-arrow-right-short {
}
.part1-img {
}
.part2 {
}
.part2-img {
}
.part2-describe {
}